<div class="container">
<h1>New List</h1>
  <div class="row justify-content-center">
    <%=simple_form_for @list do |f|%>
      <div class="col-6">
      <%= f.input :name %>
      </div>
      <%#= f.input :movie, collection: Movie.all %>
      <%= f.submit%>
    <% end %>
  </div>
</div>
